apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: llmops
  labels:
    app: prometheus
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: http
    nodePort: 30090

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-web
  namespace: llmops
  labels:
    app: prometheus
spec:
  type: LoadBalancer
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: http
